body {
    background-color: rgb(25, 25, 25);
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: gainsboro;
    text-align: center;
    font-weight: 100;
    font-size: 1.2em;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 22rem));
    grid-gap: 2em;
    justify-content: center;
    text-align: center;
    margin: auto;
}

h3 {
    color: whitesmoke;
}

img {
    max-width: 12em;
}

img:hover {
    max-width: 14em;
    transition: 1s ease-in-out;
}

button {
    background-color: red;
    color: white;
    width: 8em;
}

button:hover {
    opacity: 0.6;
}

h4 {
    font-size: 0.8em;
    font-weight: 100;
    color: ivory;
    max-width: 15em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: ivory;
    font-size: 0.8em;
    font-weight: 100;
    max-width: 15em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

article p {
    display: none;

}

article.show p {
    display: block;
}

section.error {
    display: none;
}

footer {
    margin-left: auto;
    margin-right: auto;
}

footer a {
    color: white;
    text-decoration: none;
    width: 8em;
    border-style: solid;
    background-color: red;
    border-color: white;
    border: 3em;

}
header img {max-width: 250em;
margin-left: auto;
margin-right: auto;}
